html { height: 100% }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#measurements {
    width: 49%;
    border: 1px solid red;
    float: left
}

#map-div {
    width: 50%;
    height: 100%;
    border: 1px solid blue;
    float: right;
}
